body {
  box-sizing: border-box; }

*,
::after,
::before {
  box-sizing: inherit;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

.ovh {
  overflow: hidden; }

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: inherit; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.center_block {
  max-width: 1297px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; }

img {
  max-width: 100%;
  height: auto; }

textarea {
  resize: none; }

/* width */
*::-webkit-scrollbar {
  width: 5px; }

/* Track */
*::-webkit-scrollbar-track {
  background: #292B3A; }

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #5F73FA; }

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #5F73FA; }

.footer {
  background: #000000; }
  .footer__in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px; }
    @media all and (max-width: 1023px) {
      .footer__in {
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 32px; } }
  .footer__copy {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    padding-right: 20px;
    color: #FFFFFF; }
    @media all and (max-width: 1023px) {
      .footer__copy {
        padding-right: 0;
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 16px;
        font-weight: 500; } }
  .footer__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    position: relative;
    background: #03009D;
    border-radius: 4px;
    border: 2px solid #03009D;
    color: #FFFFFF;
    transition: all .3s ease-out;
    padding: 16px 24px;
    cursor: pointer;
    padding-right: 72px; }
    .footer__btn:before {
      content: '';
      position: absolute;
      top: 50%;
      transition: all .3s ease-out;
      right: 24px;
      width: 32px;
      background: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.9742 22.74C24.0257 22.9987 23.9993 23.2669 23.8984 23.5106C23.7974 23.7542 23.6264 23.9624 23.4071 24.1088C23.1879 24.2552 22.9301 24.3333 22.6664 24.3333H1.33305C1.06938 24.3332 0.811651 24.255 0.592438 24.1085C0.373225 23.962 0.202372 23.7537 0.101479 23.5101C0.000585314 23.2665 -0.0258188 22.9985 0.0256046 22.7399C0.077028 22.4813 0.20397 22.2437 0.390383 22.0573L2.66638 19.7813V12.3333C2.66901 10.0908 3.47893 7.92424 4.94796 6.22996C6.41699 4.53568 8.44692 3.42694 10.6664 3.10659V1.66659C10.6664 1.31296 10.8069 0.973825 11.0569 0.723777C11.307 0.473728 11.6461 0.333252 11.9997 0.333252C12.3533 0.333252 12.6925 0.473728 12.9425 0.723777C13.1926 0.973825 13.333 1.31296 13.333 1.66659V3.10659C15.5525 3.42694 17.5824 4.53568 19.0515 6.22996C20.5205 7.92424 21.3304 10.0908 21.333 12.3333V19.7813L23.6091 22.0573C23.7956 22.2437 23.9227 22.4813 23.9742 22.74ZM4.94238 21.2759L4.55172 21.6666H19.4477L19.057 21.2759C18.807 21.0259 18.6665 20.6869 18.6664 20.3333V12.3333C18.6664 10.5652 17.964 8.86946 16.7138 7.61921C15.4635 6.36897 13.7678 5.66659 11.9997 5.66659C10.2316 5.66659 8.53591 6.36897 7.28567 7.61921C6.03543 8.86946 5.33305 10.5652 5.33305 12.3333V20.3333C5.33297 20.6869 5.19245 21.0259 4.94238 21.2759ZM13.8856 28.8855C13.3855 29.3856 12.7072 29.6666 12 29.6666C11.2928 29.6666 10.6145 29.3856 10.1144 28.8855C9.61428 28.3854 9.33333 27.7072 9.33333 26.9999H14.6667C14.6667 27.7072 14.3857 28.3854 13.8856 28.8855Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
      height: 32px;
      margin-top: -16px; }
    @media all and (max-width: 1023px) {
      .footer__btn {
        font-size: 15px;
        line-height: 20px;
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 80px; } }
    .footer__btn:hover {
      color: #03009D;
      background: #fff; }
      .footer__btn:hover:before {
        background: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.9742 22.74C24.0257 22.9987 23.9993 23.2669 23.8984 23.5106C23.7974 23.7542 23.6264 23.9624 23.4071 24.1088C23.1879 24.2552 22.9301 24.3333 22.6664 24.3333H1.33305C1.06938 24.3332 0.811651 24.255 0.592438 24.1085C0.373225 23.962 0.202372 23.7537 0.101479 23.5101C0.000585314 23.2665 -0.0258188 22.9985 0.0256046 22.7399C0.077028 22.4813 0.20397 22.2437 0.390383 22.0573L2.66638 19.7813V12.3333C2.66901 10.0908 3.47893 7.92424 4.94796 6.22996C6.41699 4.53568 8.44692 3.42694 10.6664 3.10659V1.66659C10.6664 1.31296 10.8069 0.973825 11.0569 0.723777C11.307 0.473728 11.6461 0.333252 11.9997 0.333252C12.3533 0.333252 12.6925 0.473728 12.9425 0.723777C13.1926 0.973825 13.333 1.31296 13.333 1.66659V3.10659C15.5525 3.42694 17.5824 4.53568 19.0515 6.22996C20.5205 7.92424 21.3304 10.0908 21.333 12.3333V19.7813L23.6091 22.0573C23.7956 22.2437 23.9227 22.4813 23.9742 22.74ZM4.94238 21.2759L4.55172 21.6666H19.4477L19.057 21.2759C18.807 21.0259 18.6665 20.6869 18.6664 20.3333V12.3333C18.6664 10.5652 17.964 8.86946 16.7138 7.61921C15.4635 6.36897 13.7678 5.66659 11.9997 5.66659C10.2316 5.66659 8.53591 6.36897 7.28567 7.61921C6.03543 8.86946 5.33305 10.5652 5.33305 12.3333V20.3333C5.33297 20.6869 5.19245 21.0259 4.94238 21.2759ZM13.8856 28.8855C13.3855 29.3856 12.7072 29.6666 12 29.6666C11.2928 29.6666 10.6145 29.3856 10.1144 28.8855C9.61428 28.3854 9.33333 27.7072 9.33333 26.9999H14.6667C14.6667 27.7072 14.3857 28.3854 13.8856 28.8855Z' fill='%2303009D'/%3E%3C/svg%3E%0A") 50% no-repeat; }
