body {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.ovh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: 1297px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #292B3A;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #5F73FA;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #5F73FA;
}

// scrollbar end

// block_form
.block_form {
    margin-bottom: 72px;
    @media all and (max-width: 1023px) {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    &__in {
        background: #03009D;
        backdrop-filter: blur(5px);
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        font-size: 0;
        overflow: hidden;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            border-radius: 0;
        }
    }
    &__l-side {
        width: calc(50% + 106px);
        padding: 48px;
        @media all and (max-width: 1023px) {
            width: 100%;
            padding: 24px;
        }
        form {
            height: 58px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media all and (max-width: 1023px) {
                flex-direction: column;
                height: auto;
            }
            input {
                width: 100%;
                border: 0;
                margin-right: 16px;
                background: #3C39D1;
                border-radius: 4px;
                padding: 17px 24px;
                font-style: normal;
                font-weight: 700;
                font-size: 19px;
                line-height: 24px;
                color: #FFFFFF;
                &::placeholder {
                    color: #fff;
                }
                @media all and (max-width: 1023px) {
                    margin-right: 0;
                    height: 48px;
                    padding: 14px 16px;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            button {
                font-style: normal;
                font-weight: 700;
                font-size: 19px;
                line-height: 24px;  
                color: #000000;
                padding: 17px 24px;
                cursor: pointer;
                transition: all .3s ease-out;
                background: #F1C320;
                border-radius: 4px;
                border: 2px solid #F1C320;
                &:hover {
                    background: #000;
                    color: #F1C320;
                }
                @media all and (max-width: 1023px) {
                    margin-top: 16px;
                    padding: 14px;
                    width: 100%;
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: 16px;
        @media all and (max-width: 1023px) {
            font-size: 24px;
            margin-bottom: 8px;
            line-height: 32px;
        }
    }
    &__text {
        margin-bottom: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        color: #FFFFFF;
        @media all and (max-width: 1023px) {
            margin-bottom: 16px;
            font-size: 15px;
            line-height: 20px;
        }
    }
    &__r-side {
        width: calc(50% - 106px);
        padding-left: 30px;
        position: relative;
        padding-top: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 40px;
            width: 164px;
            height: 164px;
            border-radius: 50%;
            margin-top: -84px;  
            background: url("data:image/svg+xml,%3Csvg width='164' height='164' viewBox='0 0 164 164' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.15' cx='82' cy='82' r='82' fill='%23F1C320'/%3E%3Ccircle opacity='0.3' cx='82' cy='82.0001' r='66.8148' fill='%23F1C320'/%3E%3Ccircle cx='82' cy='82' r='53.1481' fill='%23F1C320'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M102.456 95.2228C102.544 95.6648 102.499 96.1229 102.326 96.5392C102.154 96.9553 101.862 97.311 101.487 97.5611C101.113 97.8113 100.672 97.9447 100.222 97.9446H63.7773C63.3269 97.9445 62.8866 97.8109 62.5121 97.5606C62.1376 97.3103 61.8457 96.9546 61.6734 96.5384C61.501 96.1223 61.4559 95.6644 61.5437 95.2226C61.6316 94.7808 61.8484 94.375 62.1669 94.0564L66.0551 90.1683V77.4446C66.0596 73.6137 67.4432 69.9125 69.9528 67.0181C72.4624 64.1237 75.9302 62.2296 79.7217 61.6824V59.2224C79.7217 58.6183 79.9617 58.0389 80.3889 57.6117C80.8161 57.1846 81.3954 56.9446 81.9995 56.9446C82.6036 56.9446 83.183 57.1846 83.6101 57.6117C84.0373 58.0389 84.2773 58.6183 84.2773 59.2224V61.6824C88.0689 62.2296 91.5367 64.1237 94.0463 67.0181C96.5559 69.9125 97.9395 73.6137 97.944 77.4446V90.1683L101.832 94.0564C102.151 94.375 102.368 94.7809 102.456 95.2228ZM69.9432 92.7217L69.2758 93.3891H94.7232L94.0558 92.7217C93.6286 92.2946 93.3885 91.7153 93.3884 91.1113V77.4446C93.3884 74.4241 92.1885 71.5273 90.0527 69.3914C87.9168 67.2556 85.02 66.0557 81.9995 66.0557C78.979 66.0557 76.0822 67.2556 73.9464 69.3914C71.8105 71.5273 70.6106 74.4241 70.6106 77.4446V91.1113C70.6105 91.7153 70.3704 92.2946 69.9432 92.7217ZM85.2212 105.721C84.3669 106.576 83.2082 107.056 82 107.056C80.7918 107.056 79.6331 106.576 78.7787 105.721C77.9244 104.867 77.4444 103.708 77.4444 102.5H86.5555C86.5555 103.708 86.0756 104.867 85.2212 105.721Z' fill='black'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                display: none;
            }
        }
        img {            
            @media all and (max-width: 1023px) {
                display: none;
            }
        }
    }
    &__socs {
        display: none;
        @media all and (max-width: 1023px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}
// block_form end
// footer
.footer {
    background: #000000;
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 56px;
        padding-bottom: 56px;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            padding-top: 16px;
            padding-bottom: 32px;
        }
    }
    &__copy {
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 24px;
        padding-right: 20px;
        color: #FFFFFF;
        @media all and (max-width: 1023px) {
            padding-right: 0;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 16px;
            font-weight: 500;
        }
    }
    &__btn {
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 24px;
        position: relative;
        background: #03009D;
        border-radius: 4px;
        border: 2px solid #03009D;
        color: #FFFFFF;
        transition: all .3s ease-out;
        padding: 16px 24px;
        cursor: pointer;
        padding-right: 72px;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transition: all .3s ease-out;
            right: 24px;
            width: 32px;
            background: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.9742 22.74C24.0257 22.9987 23.9993 23.2669 23.8984 23.5106C23.7974 23.7542 23.6264 23.9624 23.4071 24.1088C23.1879 24.2552 22.9301 24.3333 22.6664 24.3333H1.33305C1.06938 24.3332 0.811651 24.255 0.592438 24.1085C0.373225 23.962 0.202372 23.7537 0.101479 23.5101C0.000585314 23.2665 -0.0258188 22.9985 0.0256046 22.7399C0.077028 22.4813 0.20397 22.2437 0.390383 22.0573L2.66638 19.7813V12.3333C2.66901 10.0908 3.47893 7.92424 4.94796 6.22996C6.41699 4.53568 8.44692 3.42694 10.6664 3.10659V1.66659C10.6664 1.31296 10.8069 0.973825 11.0569 0.723777C11.307 0.473728 11.6461 0.333252 11.9997 0.333252C12.3533 0.333252 12.6925 0.473728 12.9425 0.723777C13.1926 0.973825 13.333 1.31296 13.333 1.66659V3.10659C15.5525 3.42694 17.5824 4.53568 19.0515 6.22996C20.5205 7.92424 21.3304 10.0908 21.333 12.3333V19.7813L23.6091 22.0573C23.7956 22.2437 23.9227 22.4813 23.9742 22.74ZM4.94238 21.2759L4.55172 21.6666H19.4477L19.057 21.2759C18.807 21.0259 18.6665 20.6869 18.6664 20.3333V12.3333C18.6664 10.5652 17.964 8.86946 16.7138 7.61921C15.4635 6.36897 13.7678 5.66659 11.9997 5.66659C10.2316 5.66659 8.53591 6.36897 7.28567 7.61921C6.03543 8.86946 5.33305 10.5652 5.33305 12.3333V20.3333C5.33297 20.6869 5.19245 21.0259 4.94238 21.2759ZM13.8856 28.8855C13.3855 29.3856 12.7072 29.6666 12 29.6666C11.2928 29.6666 10.6145 29.3856 10.1144 28.8855C9.61428 28.3854 9.33333 27.7072 9.33333 26.9999H14.6667C14.6667 27.7072 14.3857 28.3854 13.8856 28.8855Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            height: 32px;
            margin-top: -16px;
        }   
        @media all and (max-width: 1023px) {
            font-size: 15px;
            line-height: 20px;
            padding: 12px;
            margin-left: auto;
            margin-right: auto;
            padding-right: 80px;
        }
        &:hover {
            color: #03009D;
            background: #fff;
            &:before {
                background: url("data:image/svg+xml,%3Csvg width='24' height='30' viewBox='0 0 24 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.9742 22.74C24.0257 22.9987 23.9993 23.2669 23.8984 23.5106C23.7974 23.7542 23.6264 23.9624 23.4071 24.1088C23.1879 24.2552 22.9301 24.3333 22.6664 24.3333H1.33305C1.06938 24.3332 0.811651 24.255 0.592438 24.1085C0.373225 23.962 0.202372 23.7537 0.101479 23.5101C0.000585314 23.2665 -0.0258188 22.9985 0.0256046 22.7399C0.077028 22.4813 0.20397 22.2437 0.390383 22.0573L2.66638 19.7813V12.3333C2.66901 10.0908 3.47893 7.92424 4.94796 6.22996C6.41699 4.53568 8.44692 3.42694 10.6664 3.10659V1.66659C10.6664 1.31296 10.8069 0.973825 11.0569 0.723777C11.307 0.473728 11.6461 0.333252 11.9997 0.333252C12.3533 0.333252 12.6925 0.473728 12.9425 0.723777C13.1926 0.973825 13.333 1.31296 13.333 1.66659V3.10659C15.5525 3.42694 17.5824 4.53568 19.0515 6.22996C20.5205 7.92424 21.3304 10.0908 21.333 12.3333V19.7813L23.6091 22.0573C23.7956 22.2437 23.9227 22.4813 23.9742 22.74ZM4.94238 21.2759L4.55172 21.6666H19.4477L19.057 21.2759C18.807 21.0259 18.6665 20.6869 18.6664 20.3333V12.3333C18.6664 10.5652 17.964 8.86946 16.7138 7.61921C15.4635 6.36897 13.7678 5.66659 11.9997 5.66659C10.2316 5.66659 8.53591 6.36897 7.28567 7.61921C6.03543 8.86946 5.33305 10.5652 5.33305 12.3333V20.3333C5.33297 20.6869 5.19245 21.0259 4.94238 21.2759ZM13.8856 28.8855C13.3855 29.3856 12.7072 29.6666 12 29.6666C11.2928 29.6666 10.6145 29.3856 10.1144 28.8855C9.61428 28.3854 9.33333 27.7072 9.33333 26.9999H14.6667C14.6667 27.7072 14.3857 28.3854 13.8856 28.8855Z' fill='%2303009D'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }
    }
}
// footer end